.sidenav-container {
    height:100%;
    width: 100%;
    background-color: rgb(239,239,239);
}

.sidenav-content {
    height: 100%;
    overflow: hidden;
}

.menu-side {
    width: 250px;
    overflow: hidden;
}

.m-icon {
    margin:0px;
    line-height: 50px !important;
    vertical-align: middle !important;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(29,130,153);
}

.menu-side {
    background-color: rgb(48,48,48);
}

.menu-side h3 {
    border: none;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding-left: 50px;
    color: rgb(255,255,255);
}


.menu-lite {
    width: 50px; 
    height: 100%;
    background-color: rgb(48,48,48);
}

.menu-ico {
    float:left;
    width: 50px;
}

.menu-logo {
    float:left;
    text-align: center;
    width: 200px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: rgb(41,148,178);
}

.sidenav-content-menu-lite {
    display: flex;
    height: 100%;    
}

.title-bar {

    min-height: 50px;
    background-color: #FFB400;
}



.content-grid {
    width: 100%;
    height: 100%;
}


.wrapper{
    width: 100%;
    height: calc(100%);
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    padding: 0px;
    position: absolute;
    z-index: 1;

}

.inline_dialog_btn{
    margin-top: 35px;
    margin-left: 19%;
    position: relative;
}

.diloag_box{

    width: 350px;
    height: 175px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 20%;
    margin-left: 30%;
    z-index: 2;
}

.dialog_btn_ok{
    background-color: #EC4B4B;
    display: inline;
}
.dialog_btn_cancel{
    margin-left: 20px;
    display: inline;
    background-color: #2994B2;
}
.dialog_btn{
    width: 100px;
}

.dialog_title{
    color: #369;
    font-family: Roboto, sans-serif;
    font-size: 120%;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
    height: 50px;
}
