ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    vertical-align: middle;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    padding-left: 50px;
    color: rgb(255,255,255);
}

li a {
    color: rgb(255,255,255);
}

.menu-item {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(62,62,62);
}

.menu-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    color: rgb(170,170,170);
    flex: 1;    
}

.menu-text a {
    color: rgb(170,170,170);

}
