.core {
    width: 100%;
    height: calc(100% - 0px);    
    background-color: rgb(239,239,239);
    padding: 0px;
    font-family: "Roboto";
}

.white-block {
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    background-color: rgb(255,255,255);
    padding: 10px;
}

.white-block-full-height {
    margin-top: 10px;
    width: calc(100% - 20px);
    min-height: 100%;
    background-color: rgb(255,255,255);
    padding: 10px;
}

.grid {
    text-align: left;
    background-color: rgb(239,239,239);
    height: 100%;
}

.tile-left {      
    text-align: left;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: rgb(249,249,249);
    overflow: hidden;
}

.tile-right {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(249,249,249);
    overflow: hidden;
}

.md-input-3-col {
    width: 90%;
}

.md-input-2-col {
    width: 50%;

}

.md-input-3-col_100 {
    width: 100%;

}

.gestion_title{
    width: 100%;
    margin-top: -124px;
}
.gestion_input{
    width: 100%;
    margin-left: 20px;
    float: left;
}

.md-textarea {
    height: 263px;

}

.md-resume-textarea {
    height: 200px;

}

.tile-inner {
    width: 100%;
    height: 100%;
}
.action_modif{
    vertical-align: middle;
    line-height: 100%;
    width: 25%;
}

.tile-inner-2 {
    width: 100%;
    height: 100%;
}

.tile-inner-3{
    width: 165%;
    height: 100%;
    margin-left: -60px;
    padding-bottom: 10px;
}


.menu-select {
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding-top: 10px;*/
}

.menu-select-list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 4px;
}

.menu-select_list_art {
    margin-bottom: 14px;
    font-size: 13px;
}

.action-bar {
    height: 55px;
    border-top-style: solid;
    border-color: rgb(45,45,45);
    border-width: 5px;
    padding: 10px;
    text-align: right;
    background-color: rgb(120,120,120);
}

.bt {
    height: 55px;
    width: 160px;
    margin-left: 10px;
    color: rgb(255,255,255);
}

.bt_cancel {
    background-color: rgb(242,53,87);
}

.bt_add {
    background-color: rgb(9,198,171);
}

.prod_table {
    width: 100%;
    border-spacing: 0px;

}

.serial_table {
    width: 50%;
    border-spacing: 0px;
}

.serial_table tr {
    line-height: 40px;
}

.prod_table_top{
    width: 100%;
    border-spacing: 0px;
}

.prod_table tr {
    line-height: 40px;
}

.white_tr {
    background-color: rgb(255,255,255) !important;
}

.prod_table th {
    background-color: rgb(255,255,255);
    border-bottom-style: solid;
    border-color: rgb(222,222,222);
    border-width: 2px;
}

.serial_table th {
    background-color: rgb(255,255,255);
    border-bottom-style: solid;
    border-color: rgb(222,222,222);
    border-width: 2px;
}

.prod_table td {
    font-size: 16px;
}

.serial_table td {
    font-size: 13px;
}

.serial_table td, th {
    padding-left: 5px;
    padding-right: 5px;
}

.prod_table td, th {
    padding-left: 5px;
    padding-right: 5px;
}

.prod_code {
    width: 10%;
}

.prod_ref {
    width: 60%;
    padding-left:0;
}

.prod_name {
    width: 22%;
}

.prod_name_list {
    width: 22%;
    text-decoration: underline;
    cursor: pointer;
    color: blue;

}

.prod_cat {
    width: 18%;
}

.prod_categorie{
    width: 10%;
}

.prod_stock {
    width: 10%;
}

.prod_action {
    width: 2%;
    vertical-align: middle;
    line-height: 100%;
}

.prod_modif{
    cursor: pointer;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    width:20%;
}


.prod_delete{
    cursor: pointer;
    width: auto;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
}
.error_receip{
    font-family: "Roboto";
    color: rgb(255,0,0);
    position: relative;
    width: 75%;
    margin-left: 30%;
}

.serial_nb{
    width: 10%;
    vertical-align: middle;
    line-height: 100%;

}

.header {
    color: #23527c;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: rgb(232,232,232);
}

tr:nth-child(even) {
    background-color: rgb(255,255,255);
}

.md-input-search {

}

.article_list_limiter{
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
}

.validate_bt_stocks{
    /*background-color: #2994B2;*/
    margin-left: 425px;
}

.description_width{

    width: 20%;
    margin-left: 5px;
    float: left;


}

.wrapper{
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    padding: 0px;
    position: absolute;
    z-index: 1;

}
.text_test{
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
}

.diloag_box{

    width: 350px;
    height: 175px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 20%;
    margin-left: 30%;
    z-index: 2;
}

.popup{

    width: 35%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 5%;
    margin-left: 32%;
    z-index: 2;
    opacity: 0.9;
    border: solid darkgray;
}

.inline_dialog_btn{
    margin-top: 35px;
    margin-left: 19%;
    position: relative;
}
.inline_dialog_btn_error{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.dialog_btn_ok{
    background-color: #EC4B4B;
    display: inline;
}
.dialog_btn_cancel{
    margin-left: 20px;
    display: inline;
    background-color: #2994B2;
}
.dialog_btn_cancel_error{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    background-color: #2994B2;
}
.dialog_btn{
    width: 100px;
}

.dialog_title{
    color: #369;
    font-family: Roboto, sans-serif;
    font-size: 120%;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
    height: 50px;
}

h4 span{
    font-size: 11px;
}

