<md-sidenav-container class="sidenav-container" >

    <md-sidenav mode="side" [opened]=[m_opened] class="menu-side" >
        <div class="wrapper" *ngIf="show_dialog"></div>
        <div class="menu-ico">
            <div class="m-icon" (click)="fold()"><img src="./img/ico_menu.png" alt="M" /></div>
        </div>
        <div class="menu-logo">
            <img src="./img/logo.png" alt="i-sgs" />
        </div>
        <div style="clear: both;"></div>
        <left-menu></left-menu>
    </md-sidenav>

    <div class="sidenav-content-menu-lite" >
        <div *ngIf="ml_opened" class="menu-lite">
            <div class="menu-ico">
                <div class="m-icon" (click)="fold()"><img src="./img/ico_menu.png" alt="M" /></div>
            </div>       
            <div><img src="img/ico_accueil.png" alt="Accueil"/></div>
            <div><img src="img/ico_articles.png" alt="Articles"/></div>
            <div><img src="img/ico_stock.png" alt="Stock"/></div>
            <div><img src="img/ico_fournisseurs.png" alt="Fournisseurs"/></div>
            <div><img src="img/ico_stats.png" alt="Stats"/></div>
            <div><img src="img/ico_aide.png" alt="Aide"/></div>
        </div>

        <div style="flex: 1;" class="sidenav-content">
            <div class="title-bar"></div>                    
            <router-outlet></router-outlet>                  
        </div>
    </div>

</md-sidenav-container>