<nav>
    <div *ngFor="let item of menu_items; let idx = index">
        <div class="menu-item">
            <div><img src="{{item.ico_url}}" alt="{{item.title}}"/></div>
            <div class="menu-text">
                <a routerLink="{{item.link}}" (click)="toggle(idx)">{{item.title}}</a>                
            </div>
        </div>
        <div *ngIf="item.children.length > 0 && current_item === idx">
            <ul *ngFor="let sub_item of item.children">
                <li><a routerLink="{{sub_item.link}}">{{sub_item.title}}</a></li>
            </ul>
        </div>
    </div>
</nav>