<form [formGroup]="form" novalidate class="group_form">
    <div class="core">
        <div class="white-block">
            <h3 style="text-align: center;"><img src="./img/logo.png" alt="M" /></h3>
            <h3 style="text-align: center;">Identifiez-vous</h3>
            <md-grid-list cols="1" rowHeight="70px" >
                <md-grid-tile>
                    <md-input-container>
                        <input mdInput formControlName="username" id="username" placeholder="Identifiant" type="text" required>
                        <md-error>Veuillez saisir votre login.</md-error>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile>
                    <md-input-container>
                        <input mdInput formControlName="password" id="password" placeholder="Mot de passe" type="password" required>
                        <md-error>Veuillez saisir votre mot de passe.</md-error>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile>
                    <button md-raised-button class="bt bt_add" type="submit" color="primary" (click)="login()">Se connecter</button>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</form>