<div class="core">
    <md-grid-list cols="3" class="grid" rowHeight="fit">
        <md-grid-tile [colspan]="2">
            <div class="tile-left">
                <div class="white-block-full-height">
                    <h3>LISTE DES SITES</h3>
                    <label>Rechercher : </label>
                    <input [(ngModel)]="query" class="input_search">
                    <div>
                        <table class="prod_table">
                            <tr>
                                <th class="prod_modif" >#</th>
                                <th class="prod_modif">Site</th>
                                <th class="prod_modif">Modifier</th>
                                <th class="prod_delete">Supprimer</th>
                            </tr>
                        </table>
                        <div class="article_list_limiter">
                            <table class="prod_table">
                                <tr *ngFor="let site of sites_list; let i = index">
                                    <td class="prod_modif">{{i+1}}</td>
                                    <td align="center" class="prod_modif">{{site.name}}</td>
                                    <td align="center" class="prod_modif"><img src="../../img/ico_modif.png"/></td>
                                    <td align="center" class="prod_delete"><img src="../../img/ico_supp.png"/></td>
                                </tr>                         
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile [colspan]="1">
            <div class="tile-right">
                <div class="white-block">
                    <h3>AJOUTER</h3>
                    <form *ngIf="showForm" [formGroup]="site_form"  (ngSubmit) = "ValidateButton()" (keyup.enter)="ValidateButton()" novalidate>
                        <md-grid-list cols="2" rowHeight="200px" >
                            <md-grid-tile>
                                <div class="tile-inner">
                                    <md-input-container class="md-input-3-col">
                                        <input mdInput placeholder="Description" value= "" formControlName="name_ctrl" required> 
                                    </md-input-container>
                                </div>
                            </md-grid-tile>
                            <md-grid-tile>
                            </md-grid-tile>
                            <md-grid-tile>
                                <div class="tile-inner">
                                    <button md-raised-button  type="submit" class="action_class">Ajouter</button>
                                    <button md-raised-button type="button" class="action_class" *ngIf="hide_button" (click) = "ngOnInit();Reset()" >Annuler</button>
                                </div>
                            </md-grid-tile>
                            <md-grid-tile>
                            </md-grid-tile>
                            <p [style.color]="putIndicationMessageColor(false)">{{error_msg}}</p>
                        </md-grid-list>  
                    </form>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>

</div>