/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    margin: 0px;
    padding: 0px;    
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    overflow: hidden;
    height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h3 {
    color: #369;
    font-family: Roboto, sans-serif;
    font-size: 120%;
    line-height: 250%;
}

md-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

md-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}